@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'nexaextra_light';
    src: url(/assets/nexa-extralight-webfont-bea90f11efcadf11ec6363fa9dae7b7ab97700c61039c88c25b48cb3b51b4695.woff2) format('woff2'),
    url(/assets/nexa-extralight-webfont-36793dfd3514c3fbba13881893740edd3044ff897b04b1a4a7a4c78d4fb0a6a8.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nexa-trialbold';
    src: url(/assets/nexa-trial-bold-webfont.woff2) format('woff2'),
    url(/assets/nexa-trial-bold-webfont-c9743e7f60bfe71f3b5312425b89d6823591913ce88571b9808217172d605675.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nexa-trialregular';
    src: url(/assets/nexa-trial-regular-webfont-43f5d90bf42d1e0e7d11aae133429f0041334e3fd466b68749bab0e4d3214247.woff2) format('woff2'),
    url(/assets/nexa-trial-regular-webfont-9caf2cc4924047541ed5b29e1f099b15ca9ec322cf2cc7a5eca8cd4315deac41.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: nexa-trialbold;
}

@layer components {
    .card-wrapper {
        @apply w-full shadow-[0_2px_10px_#ccc] bg-[#ECF1F3] mb-5 p-[30px] rounded-[20px] border-[5px] border-solid border-white;
    }

    .product-wrapper{
        @apply bg-[#ECF1F3] shadow-[0_2px_20px_#cccccc7a] min-h-[570px] content-center rounded-[15px] border-4 border-solid border-white;
    }

    .btn-cta {
        @apply bg-[linear-gradient(180deg,#00EFFE,#0095FF)] w-full text-white min-w-[140px] text-base font-black px-5 py-[13px] border-0;
      }
}

