
#default-carousel.relative.w-full{"data-carousel" => "slide"}
  / Carousel wrapper
  .relative.h-56.overflow-hidden.rounded-lg.md:h-96
    / Item 1
    .hidden.duration-700.ease-in-out{"data-carousel-item" => ""}
      = image_tag asset_url("dafox.png"),class:"absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
    / Item 2
    .hidden.duration-700.ease-in-out{"data-carousel-item" => ""}
      %img.absolute.block.w-full{:alt => "...", :class => "-translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2", :src => "/docs/images/carousel/carousel-2.svg"}/
  / Slider indicators
  .absolute.z-30.flex.bottom-5.space-x-3.rtl:space-x-reverse{:class => "-translate-x-1/2 left-1/2"}
    %button.w-3.h-3.rounded-full{"aria-current" => "true", "aria-label" => "Slide 1", "data-carousel-slide-to" => "0", :type => "button"}
    %button.w-3.h-3.rounded-full{"aria-current" => "false", "aria-label" => "Slide 2", "data-carousel-slide-to" => "1", :type => "button"}

.container.mx-auto.px-4.py-8
  .grid.grid-cols-1.sm:grid-cols-2.md:grid-cols-3.lg:grid-cols-4.gap-6
    - @products.each do |product|
      .overflow-hidden
        .relative
          - if product.product_image.attached?
            = image_tag(product.image_webp, class: "w-full h-48 object-cover")
        .p-4 
          %h2.text-lg.font-semibold.text-gray-800.my-3
            =link_to product.name, product_path(product.id), class:"cursor-pointer"
          %p.text-sm.font-semibold.text-gray-600.mb-2 All accessories included
          .flex.items-center.mb-2
            %span.text-lg.font-bold.text-sky-500.mr-3
              =number_to_currency(product.price, unit: "PHP ")

%footer.text-white.py-12{:class => "bg-[#06032C]"}
  .container.mx-auto.px-4
    .grid.grid-cols-1.md:grid-cols-2.lg:grid-cols-4.gap-8
      %div
        .flex.items-center.mb-4
          = link_to image_tag("flarego-shop-logo.png"), root_path
        %p.text-sm.text-gray-400 It started with a crazy idea, and is now being used by thousands of people nationwide and in other countries.
      %div
        %h3.text-lg.font-semibold.mb-4 Quicklinks
        .grid.grid-cols-1.md:grid-cols-3.gap-8
          %div
            %ul.space-y-2
              -["Home","DafoxTech","AdoPisoft"].each do |i|
                %li
                  =link_to i, root_path, class: "hover:text-cyan-400 transition-colors"
          %div        
            %ul.space-y-2
              -["On Sale","Blog and Events","FAQs"].each do |i|
                %li
                  =link_to i, root_path, class: "hover:text-cyan-400 transition-colors"
          %div        
            %ul.space-y-2
              -["On Sale","Blog and Events","FAQs"].each do |i|
                %li
                  =link_to i, root_path, class: "hover:text-cyan-400 transition-colors"  
      %div
        %h3.text-lg.font-semibold.mb-4 Newsletter
                        