
#default-carousel.relative.w-full{"data-carousel" => "slide"}
  / Carousel wrapper
  .relative.h-56.overflow-hidden.rounded-lg.md:h-96
    / Item 1
    .hidden.duration-700.ease-in-out{"data-carousel-item" => ""}
      = image_tag asset_url("dafox.png"),class:"absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
    / Item 2
    .hidden.duration-700.ease-in-out{"data-carousel-item" => ""}
      %img.absolute.block.w-full{:alt => "...", :class => "-translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2", :src => "/docs/images/carousel/carousel-2.svg"}/
  / Slider indicators
  .absolute.z-30.flex.bottom-5.space-x-3.rtl:space-x-reverse{:class => "-translate-x-1/2 left-1/2"}
    %button.w-3.h-3.rounded-full{"aria-current" => "true", "aria-label" => "Slide 1", "data-carousel-slide-to" => "0", :type => "button"}
    %button.w-3.h-3.rounded-full{"aria-current" => "false", "aria-label" => "Slide 2", "data-carousel-slide-to" => "1", :type => "button"}




                        