.container.mx-auto.p-4
    .flex.flex-col.lg:flex-row.gap-8
        %div{class: "lg:w-2/3"}
            %h2.text-2xl.font-bold.mb-6.mt-8 Shipping Address
            =form_with model: @order, local:true, class: "space-y-4" do |f|
                -unless user_signed_in?
                    %div.grid.grid-cols-2.gap-4
                        %div
                            =f.label :first_name, class: "form-label"
                            =f.text_field :first_name, class: "form-field"
                        %div
                            =f.label :last_name, class: "form-label"
                            =f.text_field :last_name, class: "form-field"
                    %div
                        =f.label :email, class: "form-label"
                        =f.text_field :email, class: "form-field"
                    -if @show_password
                        %div
                            =f.label :password
                            =f.password_field :password
                %div
                    =f.label :city, class: "form-label"
                    =f.text_field :city, class: "form-field"
                %div
                    =f.label :province, class: "form-label"
                    =f.text_field :province,class: "form-field"
                %div
                    =f.label :barangay, class: "form-label"
                    =f.text_field :barangay,class: "form-field"
                %div
                    =f.label :zip_code, class: "form-label"
                    =f.number_field :zip_code,class: "form-field"
                %div.grid.grid-cols-2.gap-4
                    %div
                        =f.label :street, class: "form-label"
                        =f.text_field :street, class: "form-field"
                    %div
                        =f.label :house_number, class: "form-label"
                        =f.number_field :house_number, class: "form-field"

                =f.submit "Place Order", class: "btn-cta"
        %div{class: "lg:w-1/3"}
            .card-wrapper
                %h2.text-2xl.font-bold.mb-6 Order Summary
                .space-y-4 
                    -current_cart.cart_items.each do |ci|
                        -if ci.product.product_image.attached?
                            .flex.items-center.justify-between
                                .flex.items-center.space-x-4
                                    =image_tag(ci.product.product_image, class: "w-16 h-16 object-cover rounded")
                                    %div
                                        %h3.font-semibold 
                                            =ci.product.name
                                        %p.font-semibold
                                            =ci.quantity
                                %span.font-semibold
                                    =ci.product.price
                    %hr
                    .flex.justify-between.items-center.text-xl.font-bold
                        %span Total:
                        =current_cart.total
