-@order.order_items.each do |oi|
    =oi.product.name
    =oi.quantity
    =oi.subtotal

=@order.total

-if @order.email.present?
    %p
    =@order.email

%p Shipping Address
=@order.city
=@order.province
=@order.barangay