-@order.order_items.each do |oi|
    =oi.product.name
    =oi.quantity
    =oi.subtotal

=@order.total

-if @order.email.present?
    %p
    =@order.email

%p Shipping Address
=@order.city
=@order.province
=@order.barangay

=form_with url: user_invitation_path, local: true do |f|
    =f.label :email
    =f.email_field :email
    =f.hidden_field :product_id, value: @order.order_items.first.product.id
    =f.submit "submit"