@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'nexaextra_light';
    src: url('nexa-extralight-webfont.woff2') format('woff2'),
    url('nexa-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nexa-trialbold';
    src: url('assets/nexa-trial-bold-webfont.woff2') format('woff2'),
    url('nexa-trial-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nexa-trialregular';
    src: url('nexa-trial-regular-webfont.woff2') format('woff2'),
    url('nexa-trial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    overflow-x: hidden;
}
body{
    font-family: nexa-trialregular;
}

.star-rating{
    display: inline-block;
    position: relative;
    font-size: 30px;
    line-height: 1;
}

.stars-inner{
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: calc(var(--rating) / var(--total-stars) * 100%);
    color: gold;
}

.stars-outer{
    position: relative;
    display: inline-block;
    font-family: FontAwesome;
    color: lightgray;
}

.stars-outer::before,
.stars-inner::before{
    content: "\f005\f005\f005\f005\f005"; /* 5 stars in FontAwesome */
    font-family: FontAwesome;
}

@layer components {
    .card-wrapper {
        @apply w-full shadow-[0_2px_10px_#ccc] bg-[#ECF1F3] mb-5 p-[30px] rounded-[20px] border-[5px] border-solid border-white;
    }

    .product-wrapper{
        @apply bg-[#ECF1F3] shadow-[0_2px_20px_#cccccc7a] min-h-[570px] content-center rounded-[15px] border-4 border-solid border-white;
    }

    .btn-cta {
        @apply w-full bg-[linear-gradient(180deg,#00EFFE,#0095FF)] w-full text-white min-w-[140px] text-base font-black px-5 py-[13px] border-0 hover:bg-sky-800 rounded-lg;
    }

    .thumbnail-wrapper {
        @apply shadow-[0_2px_20px_#cccccc7a] leading-[130px] text-center bg-[#ECF1F3] mb-5 rounded-[15px] border-4 border-solid border-white;
    }
    
    .form-field{
        @apply w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-blue-500 focus:border-blue-500
    }

    .form-label{
        @apply block text-sm font-medium text-gray-700 mb-1
    }
}

