.dafox-gradient
    .max-w-6xl.mx-auto.px-4.pt-8.md:pt-12.flex.flex-col.lg:flex-row.items-center
        %div{class: "md:w-1/2 mb-8 md:mb-0"}
            =image_tag("dafox.png", class: "mb-4")
            %h2.text-3xl.md:text-4xl.font-bold.mb-4 Enjoy Up to 20% Off on Your First Purchase!
            %p.text-lg.mb-6 For a Seamless & Hassle-FREE eLoading services, Gcash, Maya Cash-in and Bills Payment.
        %div{class: "md:w-1/2 relative"}
            =image_tag("cta-img.png")