- @products.each do |product|
  %div.max-w-sm.mx-auto.bg-white.shadow-lg.rounded-lg.overflow-hidden
    .relative
      - if product.product_image.attached?
        = image_tag(product.image_webp, class: "w-full h-full object-cover")
    .p-4
      %h2.text-lg.font-bold.text-gray-800
        =product.name  
      .mt-2.flex.items-center
        %span.text-2xl.font-bold.text-sky-500
          =number_to_currency(product.price, unit: "PHP ") 