.container.mx-auto.p-4 
  .flex.flex-col.md:flex-row.gap-8
    %div{class:"md:w-1/2"}
      .flex.gap-4
        %div{class:"w-1/5"}
          -@product.product_variants.each do |var|
            .thumbnail-wrapper
              =image_tag var, class: "w-full h-full object-cover rounded-lg"
        %div{class:"w-4/5"}
          .product-wrapper
            -if @product.product_image.attached?
              = image_tag(@product.image_webp, class: "w-full h-full object-cover")
    %div{class:"md:w-1/2"}
      .flex.justify-between.items-start
        %h1.text-3xl.font-bold.text-indigo-900 
          =@product.name
      .flex.items-center.mt-2
        %span.ml-2.text-sm.text-gray-600
          -if @product.reviews.count > 0
            %span.ml-2.text-sm.text-gray-600
              .star-rating{style: "--rating: #{@product.average_rating}; --total-stars: 5;"}
                .stars-outer
                  .stars-inner
              =pluralize(@product.reviews.is_published.count, "Review")
              
          -else
            %span.ml-2.text-sm.text-gray-600 No review    
      .mt-4
        .text-3xl.font-bold.text-cyan-500
          =number_to_currency(@product.price, unit: "PHP ") 
      .mt-6
        .text-xl.font-semibold.mb-2
          =@product.description
      .mt-8
        =form_with url: add_to_cart_cart_path(@product), method: :post, class: "space-y-3" do
          =label_tag "Quantity"
          =number_field_tag :quantity, 1, min: 1, class: "rounded-lg"
          =submit_tag "Add to cart", class: "btn-cta" 
  .grid.md:grid-cols-2.gap-8.p-5
    %div
      %h2.text-2xl.font-bold.mb-4 Write a review
      .bg-white.p-6.rounded-lg.shadow.border
        .flex.justify-center.items-center
          =form_with(model: [@product, @product.reviews.build], local:true) do |f|
            .flex.flex-col.items-center.space-y-5
              .flex.items-center.space-x-3
                =f.label :subject
                =f.text_field :subject, class: "border-2 border-sky-500"
              .flex.items-center.space-x-3
                =f.label :content
                =f.text_area :content
              .flex.items-center.space-x-3
                =f.label :star_rating
                =f.select :star_rating, options_for_select(1..5), {}

              =f.submit "Submit", class: "btn-cta"
    %div
      .flex.justify-between.items-center.mb-4
        .text-2xl.font-bold 
          =pluralize(@product.reviews.is_published.count, "Review")
      .space-y-6
        -if @reviews.is_published.any?
          -@reviews.is_published.each do |r|
            .border-b.pb-6
              .flex.items-center.mb-2
                %div
                  %h3.font-bold
                    =r.user.first_name  
                  %p.text-sm.text-gray-600
                    =r.subject
              .flex.mb-2    
                -r.star_rating.times do
                  =icon('fa-solid', 'star', class: "text-[#ffc107]")
                
              %p.text-gray-700.mb-2
                =r.content
              .flex.items-center 
                %span.mr-2.text-sm.text-gray-800
                  =time_ago_in_words(r.created_at)
                =button_to '👍', product_review_likes_path(@product, r), method: :post, class: "mx-1"
                =r.likes.count
        =paginate @reviews