.container.mx-auto.px-4.py-8.space-y-3 
  .flex.flex-col.md:flex-row.gap-8
    %div{class:"md:w-1/2"}
      .flex.gap-4
        %div{class:"w-1/5"}
          -[1,2,3].each do |_p|
            .thumbnail-wrapper
              -if @product.product_image.attached?
                = image_tag(@product.image_webp, class: "w-full h-full object-cover")
        %div{class:"w-4/5"}
          .product-wrapper
            -if @product.product_image.attached?
              = image_tag(@product.image_webp, class: "w-full h-full object-cover")
    %div{class:"md:w-1/2"}
      .flex.justify-between.items-start
        %h1.text-3xl.font-bold.text-indigo-900 
          =@product.name
      .flex.items-center.mt-2
        %span.ml-2.text-sm.text-gray-600
          -if @product.reviews.count >= 0
            %span.ml-2.text-sm.text-gray-600
              =@product.reviews.count
          -else
            %span.ml-2.text-sm.text-gray-600
              =0    
      .mt-4
        .text-3xl.font-bold.text-cyan-500
          =number_to_currency(@product.price, unit: "PHP ") 
      .mt-6
        .text-xl.font-semibold.mb-2
          =@product.description
      .mt-8
        =link_to "Add to cart", add_to_cart_cart_path(product_id: @product.id), class: "btn-cta"  
  .grid.md:grid-cols-2.gap-8
    %div
      %h2.text-2xl.font-bold.mb-4 Write a review